@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Serwis_Książkowy.Helpers
@model BookViewModel

<div>
    @{
        string coverUrl = "https://covers.openlibrary.org/b/isbn/" + Model.Book.Isbn + "-S.jpg";
        <img src=@coverUrl />
    }
    @Model.Book.Title | <a asp-controller="Authors" asp-action="Index" asp-route-authorId="@Model.Book.AuthorId">@Model.Book.Author.Name</a> | @Model.Book.Genre.Name | @Model.Book.Rating
    @if (User.Identity.IsAuthenticated)
    {
        if (Model.IsInLibrary)
        {
            <partial name="InLibrary" model="Model"></partial>
        }

        <partial name="AddToLibrary" model="Model.Book"/>
    }
</div>