<div>
    @{
        string searchQuery = ViewData["SearchQuery"]?.ToString() ?? String.Empty;
        string searchType = ViewData["SearchType"]?.ToString() ?? String.Empty;
        string genreId = ViewData["GenreId"]?.ToString() ?? String.Empty;
        string previousPage = ViewData["PreviousPage"]?.ToString() ?? String.Empty;
        string nextPage = ViewData["NextPage"]?.ToString() ?? String.Empty;
        int totalPages = (int)(ViewData["TotalPages"] ?? 0);
        int currentPage = (int)(ViewData["CurrentPage"] ?? 0);
    }
    <div class="d-flex justify-content-center mt-4">
        <form method="get">
            @if (!String.IsNullOrEmpty(searchQuery))
            {
                <input type="hidden" name="searchQuery" value="@searchQuery" />
            }
            @if (!String.IsNullOrEmpty(searchType))
            {
                <input type="hidden" name="searchType" value="@searchType" />
            }
            @if (!String.IsNullOrEmpty(genreId))
            {
                <input type="hidden" name="genreId" value="@genreId" />
            }
            @if (currentPage > 1 && currentPage <= totalPages)
            {
                <button class="btn btn-outline-dark" type="submit" name="page" value="@previousPage">Previous Page</button>
            }

            @if (currentPage < totalPages)
            {
                <button class="btn btn-outline-dark" type="submit" name="page" value="@nextPage">Next Page</button>
            }
        </form>
    </div>
</div>